#main-container{
  margin: 25px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controllers{
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn-default{
  padding: 10px 40px;
}